<div class='announcement-info'>
  <div class='left-mid'>
    <div class='text-inset text-inset-title'><%= announcement.title %></div>
    <div class='text-inset'><%= link_to announcement.announcement_link, announcement.announcement_link if announcement.announcement_link %></div>
    <div class='text-inset'><%= announcement.description %></div>
  </div>
  <div class='right-announcement large-padding-left'>
    <div class='announcement-picture'>
      <% if announcement.announcement_image_file_name? %>
        <%= image_tag announcement.announcement_image.url(:thumb) %>
      <% end %>
    </div>
  </div>
  <div class='admin-options small-padding'>
    <% if current_user && current_user.admin? %>
      <%= link_to "delete", announcement, method: :delete, data: { confirm: "Are you sure you want to delete this announcement?" }, class: 'admin-option' %>
      <%= link_to "edit", edit_announcement_path(announcement), class: 'admin-option' %>
    <% end %>
  </div>
</div>