<% provide(:title, @artist.name) %>
<h1><%= @artist.name %></h1>
<p><%= @artist.biography %></p>
<ul class="artworks">
  <% @artworks.each do |artwork| %>
    <li>
      <span class="content"><%= artwork.title %></span>
      <%= image_tag artwork.image.url(:thumb) %>
      <% if current_user?(@user) %>
        | <%= link_to "delete", artwork, method: :delete, data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>