<% provide(:title, @artist.name) %>
<h2 class='center'><%= @artist.name %></h2>
<div class='artist-link'><%= link_to @artist.website, @artist.website unless @artist.website.blank? %></div>
<div class='artist-biography'><%= @artist.biography %></div>
<% if @artworks %>
  <div class='all-artwork'>
    <% @artworks.each do |artwork| %>
      <div class="artwork-content">
        <%= link_to artwork.image.url, class: "artwork-#{@artist.slug}" do %>
          <%= image_tag artwork.image.url(:medium), class: "artwork-image" %>
          <div class='artwork-title'><%= artwork.title %></div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
