<% provide(:title, 'New artwork') %>
<h2 class='center'>Add artwork</h2>
<div class='row'>
  <div class='span7 offset1'>
    <%= form_for [@user, @artwork], :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', :item => @artwork %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <p>
       <b>Image</b><br/>
       <%= f.file_field :image %>
     </p>
      <%= f.submit "Add artwork", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>