<% provide(:title, 'Cooperative Gallery 213') %>

<div class='homepage'>

  <% if @current_shows %>
    <% @current_shows.each do |show| %>
      <%= render partial: 'shared/current_show', locals: { show: show } %>
    <% end %>
  <% end %>

  <% if @announcements.length > 0 %>
    <div class='announcements'>
      <h2 class='maroon center'>Announcements</h2>
      <% @announcements.each do |announcement| %>
        <%= render 'announcements/announcement_row', { announcement: announcement } %>
      <% end %>
    </div>
  <% end %>

  <% if @events.length > 0 %>
    <div class='event-info'>
      <h2 class='maroon center'>Upcoming Events</h2>
      <% @events.each do |event| %>
        <div class='eventrow'>
          <div class='text-inset-title'><%= event.title %></div>
          <div class='text-subline text-subtitle-date'>
            <%= "#{event.event_date.strftime('%m/%d/%Y')}, #{event.start_time.strftime('%I:%M %p')} - #{event.end_time.strftime('%I:%M %p')}" %>
          </div>
          <% unless event.url.blank? %>
            <div class='text-subline'>
              <%= link_to event.url, event.url %>
            </div>
          <% end %>
          <div class='ind-event-text'>
            <% if event.pdf_file_name? %>
              <% unless event.pdf_title.blank? %>
                <span class='uppercase-subtitle-black'>PDF</span><%= link_to event.pdf_title, event.pdf.url %>
              <% else %>
                <span class='uppercase-subtitle-black'>PDF</span><%= link_to 'View', event.pdf.url %>
              <% end %>
            <% end %>
          </div>
          <div class='spaced-text'><%= simple_format(event.description) %></div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='artists-section'>
    <h2 class='maroon center'>Artists</h2>
    <div class='all-artists center'>
      <% @artists.each do |artist| %>
        <% if artist.artworks.any? %>
          <%= link_to artist_path(artist), class: "all-artists-artwork" do %>
            <% if artist.primary_thumbnail_url %>
              <%= image_tag artist.primary_thumbnail_url %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class='coop-gallery-info'>
    <h2 class='maroon'>Cooperative Gallery 213</h2>
    <div class='partial-width-paragraph spaced-text'>
      The Cooperative Gallery 213 was founded in 2000 to provide accessible exhibition space for member artists.
      The gallery has created a community of artists and increased an appreciation for art in the larger community.
      Because of the quality of its exhibits the Cooperative Gallery is a popular stop on the First Friday Art Walk
      sponsored by the Gorgeous Washington Association.
    </div>
    <div class='accent-link' id='sign-up-newsletter'>
      <a href='http://visitor.r20.constantcontact.com/d.jsp?llr=pjztkndab&p=oi&m=1103180195119'>Sign up for our newsletter</a>
    </div>
  </div>
</div>
