<% provide(:title, 'Update show') %>
<%= render 'show_tabs' %>
<h2 class='center'>Update show</h1>

<div class='row'>
  <div class='span7 offset1'>
    <%= form_for [:admin, @show], :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', :item => @show %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :short_description %>
      <%= f.text_area :short_description %>

      <%= f.label :artists %>
      <%= f.text_field :artists %>

      <%= f.label :start_date %>
      <%= f.date_select :start_date %>

      <%= f.label :end_date %>
      <%= f.date_select :end_date %>

      <div class='form-inner-title'>Show photos</div>

      <p>
        <b> Picture 1</b><br/>
        <% if @show.picture_1.present? %>
          <%= image_tag @show.picture_1.url(:thumb) %><br/>
        <% end %>
        <%= f.file_field :picture_1 %>
      </p>

      <%= f.label :picture_1_caption %>
      <%= f.text_field :picture_1_caption %>

      <p>
        <b> Picture 2 (optional)</b><br/>
        <% if @show.picture_2.present? %>
          <%= image_tag @show.picture_2.url(:thumb) %><br/>
        <% end %>
        <%= f.file_field :picture_2 %>
      </p>

      <%= f.label :picture_2_caption %>
      <%= f.text_field :picture_2_caption %>

      <div class='form-inner-title'>Third Thursday talk (optional)</div>

      <%= f.label :third_thursday_talk_title %>
      <%= f.text_field :third_thursday_talk_title %>

      <%= f.label :third_thursday_talk_date %>
      <%= f.datetime_select :third_thursday_talk_date %>

      <div class='form-inner-title'>Video link (optional)</div>

      <%= f.label :video_link %>
      <%= f.text_field :video_link %>

      <%= f.label :video_link_title %>
      <%= f.text_field :video_link_title %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>