<% provide(:title, "Edit artwork") %>
<h2 class='center'>Update artwork information</h2>

<div class="row">
  <div class="span7 offset1">
    <%= form_for [:admin, @user, @artwork], :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_messages', :item => @artwork %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <p>Image</p>
      <% if @artwork.thumbnail.presence %>
        <%= image_tag @artwork.thumbnail %><br/>
      <% end %>
      <%= f.file_field :image, direct_upload: true %>
      <br>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>