<li>
  <div class='onerow'>
    <div class='col7'>
      <div class='inner-content-shows small-padding'>
        <div class='text-inset-title'>
          <%= announcement.title %>
        </div>

        <div class='text-subtitle text-subline'>
          <%= link_to announcement.announcement_link, announcement.announcement_link if announcement.announcement_link %>
        </div>

        <div class='text-subline'>
          <% if announcement.pdf_file_name? %>
            <% unless announcement.pdf_title.blank? %>
              <%= link_to announcement.pdf_title, announcement.pdf %>
            <% else %>
              <%= link_to 'View PDF', announcement.pdf %>
            <% end %>
          <% end %>
        </div>

        <div class='text-subline'>
          <div class='spaced-text'>
            <%= announcement.description %>
          </div>
        </div>
      </div>
    </div>

    <div class='col5 last'>
      <div class='onerow pull-right'>
        <% unless announcement.announcement_image.filename.blank? %>
          <div class='show-picture'>
            <%= image_tag announcement.announcement_image.variant(resize: '150x150>') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class='onerow'>
    <div class='admin-options small-padding'>
      <% if current_user && current_user.admin? %>
        <%= link_to "delete", admin_announcement_path(announcement), method: :delete, data: { confirm: "Are you sure you want to delete this announcement?" }, class: 'admin-option' %>
        <%= link_to "edit", edit_admin_announcement_path(announcement), class: 'admin-option' %>
      <% end %>
    </div>
  </div>
</li>
