<li>
  <div class='ind-show-title'>
    <div class='center-div'><p><%= show.name %></p></div>
  </div>
  <% if show.current? && !is_current_page %>
    <div class='current-show-tag'>current show</div>
  <% end %>
  <div class='left no-margin'>
    <div class='inner-content-shows small-padding'>
      <div class='ind-show-text'><%= "Artists: #{show.artists}" %></div>
      <div class='ind-show-text'><%= "#{show.start_date.strftime('%m/%d/%Y')} - #{show.end_date.strftime('%m/%d/%Y')}" %></div>
      <div class='ind-show-paragraph-truncated'>
        <%= show.description %>
      </div>
    </div>
  </div>
  <div class='right-float no-margin'>
    <%= image_tag show.picture_1.url(:thumb) %>
    <% if show.picture_2_file_name? %>
      <%= image_tag show.picture_2.url(:thumb) %>
    <% end %>
  </div>
  <div class='admin-options small-padding'>
    <% if current_user && current_user.admin? %>
      <%= link_to "delete", show, method: :delete, data: { confirm: "You sure?" }, class: 'admin-option' %>
      <%= link_to "edit", edit_show_path(show), class: 'admin-option' %>
      <% if not show.current? %>
        <%= link_to "make current", set_current_show_path(show), method: :post, data: { confirm: "You sure?" }, class: 'admin-option' %>
      <% end %>
    <% end %>
  </div>
</li>