<li>
  <div class='ind-show-title'><%= show.name %></div>
  <div class='ind-show-paragraph'><%= show.description %></div>
  <div class='ind-show-text'><%= show.artists %></div>
  <%= image_tag show.picture_1.url(:thumb) %>
  <% if show.picture_2_file_name? %>
    <%= image_tag show.picture_2.url(:thumb) %>
  <% end %>
  <%= "| current show" if show.current? %>
  <% if current_user && current_user.admin? %>
  | <%= link_to "delete", show, method: :delete, data: { confirm: "You sure?" } %>
    <% if not show.current? %>
      | <%= link_to "make current", set_current_show_path(show), method: :post, data: { confirm: "You sure?" } %>
    <% end %>
  <% end %>
</li>