<div class='show-row'>
  <div class='show-row-left'>
     <div class='show-title'>
      <div class='center-div'>
        <%= link_to show.name, show_path(show) %>
      </div>
    </div>

    <div class='show-text'>
      <%= show.artists %>
    </div>

    <div class='show-text'>
      <%= formatted_show_dates(show.start_date, show.end_date) %>
    </div>

    <% unless show.third_thursday_talk_title.blank? %>
      <div class='show-text'>
        <span class='uppercase-subtitle-black'>
          Other event
        </span>
        <%= link_to "#{show.third_thursday_talk_title}, #{show.third_thursday_talk_date.strftime('%m/%d/%Y, %I:%M %p')}", events_path %>
      </div>
    <% end %>

    <% unless show.video_link.blank? %>
      <div class='show-text'>
        <span class='uppercase-subtitle-black'>
          Video link
        </span>
        <%= link_to show.video_link_title, show.video_link %>
      </div>
    <% end %>
  </div>

  <% if show.picture_1.attachment.present? || show.picture_2.attachment.present? %>
    <div class='show-row-right'>
      <% if show.picture_1.attachment.present? %>
        <%= link_to show.picture_1, class: "show-artwork" do %>
          <%= image_tag show.picture_1_thumbnail %>
          <div class='artwork-title hidden'>
            <%= show.picture_1_caption unless show.picture_1_caption.blank? %>
          </div>
        <% end %>
      <% end %>

      <% if show.picture_2.attachment.present? %>
        <%= link_to show.picture_2, class: "show-artwork" do %>
          <%= image_tag show.picture_2_thumbnail %>
          <div class='artwork-title hidden'>
            <%= show.picture_2_caption unless show.picture_2_caption.blank? %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
