<div class='inner-tab-group'>
  <span class='inner-tab inner-tab-large'><%= link_to "Past Shows", past_shows_path, class: cp(past_shows_path) %></span>
  <span class='inner-tab inner-tab-large'><%= link_to "Current Show", ind_current_shows_path, class: cp(ind_current_shows_path) %></span>
  <span class='inner-tab inner-tab-large'><%= link_to "Upcoming Shows", upcoming_shows_path, class: cp(upcoming_shows_path) %></span>
</div>
<div class='inner-tab-group'>
  <% if current_user && current_user.admin? %>
    <span class='inner-tab'><%= link_to "All Shows", shows_path, class: cp(shows_path) %></span>
    <span class='inner-tab'><%= link_to "Create Show", new_show_path, class: cp(new_show_path) %></span>
  <% end %>
</div>