<% provide(:title, 'Current show') %>
<%= render 'show_tabs' %>
<ul class="shows">
  <% if @current_show %>
    <div class='col4 right-align'>
      <div class='column-inner'>
        <div class='show-picture'>
          <%= link_to @current_show.picture_1.url, class: "current-show-artwork" do %>
            <%= image_tag @current_show.picture_1.url %>
            <div class='artwork-title hidden'><%= @current_show.picture_1_caption unless @current_show.picture_1_caption.blank? %></div>
          <% end %>
        </div>
        <% unless @current_show.picture_2_file_name.blank? %>
          <div class='show-picture'>
            <%= link_to @current_show.picture_2.url, class: "current-show-artwork" do %>
              <%= image_tag @current_show.picture_2.url %>
              <div class='artwork-title hidden'><%= @current_show.picture_2_caption unless @current_show.picture_2_caption.blank? %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='col8 last'>
      <div class='column-inner'>
        <div class='text-title'><%= @current_show.name %></div>
        <div class='text-subtitle text-subline'><%= @current_show.artists %></div>
        <div class='text-subtitle-date text-subline'><%= "#{@current_show.start_date.strftime('%m/%d/%Y')} - #{@current_show.end_date.strftime('%m/%d/%Y')}" %></div>
        <% unless @current_show.artist_talk_title.blank? %>
          <div class='text-subline'>
            <span class='uppercase-subtitle-black'>Artists' talk</span><%= link_to "#{@current_show.artist_talk_title}, #{@current_show.artist_talk_date.strftime('%m/%d/%Y, %I:%M %p')}", events_path %>
          </div>
        <% end %>
        <% unless @current_show.video_link.blank? %>
          <div class=''>
            <span class='uppercase-subtitle'>Video link</span><%= link_to @current_show.video_link_title, @current_show.video_link %>
          </div>
        <% end %>
        <% if @current_show.description %>
          <div class='current-show-description spaced-text'><%= @current_show.description.gsub(/\n/, '<br/>').html_safe %></div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class='center-text center'>There is no show at this time. Visit our past and upcoming shows pages.</div>
  <% end %>
</ul>