<% provide(:title, 'Shows') %>
<div class='shows-all'>
  <% if @current_shows %>
    <h2 class='maroon'>
      Current Shows
    </h2>
    <% @current_shows.each do |show| %>
      <%= render partial: 'shared/current_show', locals: { show: show, show_long_text: true } %>
    <% end %>
  <% end %>

  <% if @upcoming_shows %>
    <div class='shows-upcoming'>
      <h2 class='maroon'>
        Upcoming Shows
      </h2>
      <% @upcoming_shows.each do |show| %>
        <%= render :partial => 'show_row', :locals => { show: show } %>
      <% end %>
    </div>
  <% end %>

  <% if @past_shows %>
    <div class='shows-past'>
      <h2 class='maroon'>
        Past Shows
      </h2>
      <% @past_shows.each do |show| %>
        <div class='show-info'>
          <%= link_to(show_path(show)) do %>
            <span>
              <%= "#{show.name}, " %>
            </span>
            <span class='show-info--secondary'>
             <%= "#{show.artists}, #{formatted_show_dates(show.start_date, show.end_date)}" %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
