<div class='show'>
  <div class='show-title'>
    <%= @show.name %>
  </div>

  <div class='show-artists'>
    <%= @show.artists %>
  </div>

  <div class='show-dates'>
    <%= formatted_show_dates(@show.start_date, @show.end_date) %>
  </div>

  <div class='show-images'>
    <% if @show.picture_1.attachment.present? %>
      <%= link_to @show.picture_1, class: "show-artwork" do %>
        <%= image_tag @show.picture_1 %>
        <div class='artwork-title hidden'>
          <%= @show.picture_1_caption unless @show.picture_1_caption.blank? %>
        </div>
      <% end %>
    <% end %>

    <% if @show.picture_2.attachment.present? %>
      <%= link_to @show.picture_2, class: "show-artwork" do %>
        <%= image_tag @show.picture_2 %>
        <div class='artwork-title hidden'>
          <%= @show.picture_2_caption unless @show.picture_2_caption.blank? %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class='show-description'>
    <%= @show.description %>
  </div>
</div>
