<footer class="footer">
  <div class='footer-information'>
    Cooperative Gallery 213
    <br/>
    213 State Street
    <br/>
    Binghamton, New York 13901
    <br/>
    (607) 724-3462
  </div>
  <div class='footer-information'>
    Gallery hours:
    <br/>
    Fridays 3-6 p.m.
    <br/>
    First Fridays 3-9 p.m.
    <br/>
    Saturdays 12-4 p.m.
  </div>
  <div class='footer-information'>
    <%= mail_to 'info@cooperativegallery.com' %>
  </div>
  <nav>
    <ul>
      <% if signed_in? %>
        <li id="fat-menu" class="dropup">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Calendar", calendar_path %></li>
            <% if admin? %>
              <li><%= link_to "Manage Users", users_path %></li>
            <% end %>
            <li class="divider"></li>
            <li>
              <%= link_to "Sign out", signout_path, method: "delete" %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>