<footer class="footer">
  <div class='footer-information'>
    Cooperative Gallery 213
    <br/>
    213 State Street
    <br/>
    Binghamton, New York 13901
    <br/>
    (607) 724-3462
  </div>
  <div class='footer-information'>
    Gallery hours:
    <br/>
    Fridays 3-6 p.m.
    <br/>
    First Fridays 3-9 p.m.
    <br/>
    Saturdays 12-4 p.m.
  </div>
  <div class='footer-information'>
    <%= mail_to 'cooperativegallery213@gmail.com' %>
  </div>
  <div class='footer-information'>
    <% if signed_in? %>
        <%= link_to "Profile", current_user %>
        <br />
        <%= link_to "Calendar", calendar_path %>
        <br />
        <a href="http://www.localendar.com">Shift Signup</a>
        <br />
        <% if admin? %>
          <%= link_to "Manage Users", users_path %>
          <br />
        <% end %>
        <div class='divider'>
          <%= link_to "Sign out", signout_path, method: "delete" %>
        </div>
    <% else %>
      <%= link_to "Sign in", signin_path %>
    <% end %>
  </div>
</footer>