<div class="header-container">
  <%= link_to "Cooperative Gallery 213", root_path, id: "logo" %>
  <nav>
    <ul class="nav pull-right">
      <li><%= link_to "Artists", artists_path, class: cp(artists_path) %></li>
      <li><%= link_to "Shows", ind_current_shows_path, class: cp(ind_current_shows_path) %></li>
      <li><%= link_to "Events", events_path, class: cp(events_path) %></li>
      <li><%= link_to "Community", links_path, class: cp(links_path) %></li>
      <li><%= link_to "About",   about_path, class: cp(about_path) %></li>
    </ul>
  </nav>
</div>
