<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Cooperative Gallery 213" />
    <% if @site&.about_image&.attachment&.present? %>
      <meta property="og:image" content="<%= polymorphic_url(@site.about_image_meta) %>" />
    <% end %>
    <meta property="og:site_name" content="Cooperative Gallery 213" />
    <meta property="og:description" content="Binghamton's premiere cooperative art gallery." />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <title>
      <%= yield(:title) %>
    </title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if current_page?(root_url) %>
      <%= render 'layouts/banner' %>
    <% end %>
    <div class='onepcssgrid-960'>
      <div class="container">
        <div class='container-inner'>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>